@import "tailwindcss";

html {
  scroll-padding-top: 100px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: #f5f5f5;
}

@keyframes html {
  0% { width: 0%; }
  100% { width: 90%; }
}
@keyframes javascript {
  0% { width: 0%; }
  100% { width: 85%; }
}
@keyframes bootstrap {
  0% { width: 0%; }
  100% { width: 75%; }
}
@keyframes react {
  0% { width: 0%; }
  100% { width: 85%; }
}
@keyframes tailwind {
  0% { width: 0%; }
  100% { width: 85%; }
}
@keyframes next {
  0% { width: 0%; }
  100% { width: 85%; }
}
@keyframes typescript {
  0% { width: 0%; }
  100% { width: 85%; }
}
@keyframes word {
  0% { width: 0%; }
  100% { width: 90%; }
}
@keyframes shopify {
  0% { width: 0%; }
  100% { width: 90%; }
}
@keyframes design {
  0% { width: 0%; }
  100% { width: 100%; }
}

/* Apply Animation to Progress Bars */
.progress-html {
  animation: html 2s ease-in-out forwards;
}
.progress-javascript {
  animation: javascript 2s ease-in-out forwards;
}
.progress-bootstrap {
  animation: bootstrap 2s ease-in-out forwards;
}
.progress-react {
  animation: react 2s ease-in-out forwards;
}
.progress-tailwind {
  animation: tailwind 2s ease-in-out forwards;
}
.progress-next {
  animation: next 2s ease-in-out forwards;
}
.progress-typescript {
  animation: typescript 2s ease-in-out forwards;
}
.progress-word {
  animation: word 2s ease-in-out forwards;
}
.progress-shopify {
  animation: shopify 2s ease-in-out forwards;
}
.progress-design {
  animation: design 2s ease-in-out forwards;
}